h1 {
	font-size:2.2em;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}

h2 {
	font-size: 1.60em;
	line-height: 1.5em;
	margin: 0 0 0.5em 0.5em;
}

p.content_text {
	font-size: 100%;
	line-height: 1.5em;
	margin: 0 5% 0 5%;
}

.content_image {
	max-width: 340px;
	max-height: 340px;
	height: auto;
	width: 40%;
}

.albumcover {
	width: 80%;
	max-width: 640px;
	margin: 0 6% 0 6%;
	border: 0.8em solid #FFFFFF;
	margin-top: 0.4em;
}

.albumcover:hover {
	border: 0.8em solid #E9E9E9;
}

p.more {
	font-size: 1em;
	margin: 1em 2% -0.7em 0;
}

.first-separator {
	height: 2em;
	width: 95%;
	margin: 0 2.5% 0 2.5%;
}

.separator {
	height: 2em;
	margin: 0 2.5% 0 2.5%;
	width: 95%;
}

.logo {
	margin-left: -5em;
}

.searchbox {
	margin-left: 1em;
	width: 63%;
}

ul.genre, .artist {
	padding-left: 1em;
	padding-right: 1em;
}

.albumcover_large {
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 93%;
}

.merchandise_image{
	margin: 0 0 0 2.5%;
}

h3 {
	font-size: 1.2em;
	padding-left: 1em;
}

.stars {
	margin-left: 1em;
}

form.review ol li {
	padding-left: 1em;
}