h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0 0 0.2em 0;
}

h3 {
	font-size: 1.1em;
	line-height: 1em;
	margin: 0.4em auto;
}

.content_image {
	max-width: 120px;
	max-height: 120px;
	height: auto;
	width: 50%;
	margin: 0 1em 0.2em 0;
}

p.content_text {
	font-size: 90%;
	line-height: 1.5em;
}

.albumcover {
	border: 0.3em solid #FFFFFF;
}

.albumcover:hover {
	border: 0.3em solid #E9E9E9;
}

.sidebar_searchbutton {
	padding: 4% 2%;
	font-size: 80%;
}

p.sidebartext {
	margin-top: 0.4em;
	font-size: 85%;
	line-height: 1.5em
}

nav ul li {
	display: none;
}

.menubutton {
	width: 50px;
	height: 59px;
	
	display: block;
	position: fixed;
	top: 34px;
	right: 5%;
	background: url('../images/menubutton.png');
	background: url('../images/menubutton.png');
	background: url('../images/menubutton.png');
	background: url('../images/menubutton.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 21px, 100%;
	cursor: pointer;
	border: 0 none;
	z-index: 999;
	text-indent: -9999px;
}

.primary-nav {
	width: 100%;
	float: none;
	display: block;
	height: 50px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 42px;
	left: 0px;
	z-index: 0;
	clear: both;
}
.primary-nav li {
	display: none;
	width: 100%;
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light",
	"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color: #EC3F51; /* change the menu color */ 
}
.primary-nav li a {
	display: block;
	width: 90%;
	padding: 10px 5%;
	font-size: 14px;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgba(0,0,0,.15);
	color: white;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
	border-top: 1px solid rgba(255,255,255,.1); 
}
.primary-nav li a:hover {
	background-color: rgba(0,0,0,.2);
	border-top-color: transparent;
}

/* Toggle the navigation bar open  */

.primary-nav.open { 
	height: auto; 
	padding-top: 50px;
}
.primary-nav.open li { 
	display: block; 
}

/* Search bar */

.search {
	padding-top: .4em;
}

.searchbox {
	width: 62%;
}

/* Checkout form labels */

label.personal{
	text-align:left;
	margin-left:-4%;
}

label.creditcard{
	text-align:left;
	margin-left:-4%;
}

input {
	size: 20;
}