html
{
	font-size: 100%; /*at 16px*/
	color: #000000;
}

body
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue-Light",
	"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color: #E9E8E3;
}

/*----- heading styles -----*/
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3em;
	color: #808285;
	font-weight: normal;
	line-height: 1em;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.25em;
	font-weight: normal;
	line-height: 1em;
	padding: 0;
	margin: 0 0 1em 0;
	text-align: left;
}

h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.25em;
	font-weight: normal;
	line-height: 1em;
	padding: 0;
	margin: 0.5em auto;
	text-align: left;
}

/*----- paragraph styles -----*/
p {
	margin: 0;
	padding: 0;
}

p.sidebartitle {
	text-align: right;
	color: #808285;
	margin: 0;
	padding: 0;
}

p.sidebartext {
	text-align: left;
	margin-top: 0.7em;
	padding: 0;
	font-size: 80%;
}

p.more {
	font-size: 90%;
	text-align: right;
	margin: 1em .5em -1.7em 0;
}

p.album_more {
	text-align: right;
	margin: 1em 2.5em -1.7em 0;
}

p.sidebar_more {
	text-align: right;
}

p.content_text {
	font-size: 90%;
	line-height: 1.6em;
}

p.twitter {
	margin: 0.5em auto;
}

p.checkout {
	float: left;
	margin: 2% 0 0 30%;
}

/*----- link styles -----*/
a:link { color: #EC3F51; text-decoration: none; }
a:visited { color: #EC3F51 }
a:hover { color: #000000 }
a:active { color: #EC3F51 }

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
/*	border: 1px solid black;*/
}

nav a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

nav a:hover {
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 7em 0 1em 0;
}

nav a.nav_icon:hover{
	background-color: #EC3F51;
}

.content_image:hover {
	border: 0.4em solid #E9E9E9;
}

.albumcover:hover {
	border: 0.4em solid #E9E9E9;
}

.albumcover_small:hover {
	border: 0.2em solid #E9E9E9;
}

img.merchandise_image:hover {
	border: 0.4em solid #E9E9E9;
}

/*----- rows -----*/
.first {
	position: fixed;
	height: 2em;
	background-color: #E9E8E3;
	z-index: 1;
}

.second {
	position: fixed;
	background-color: #EC3F51;
	margin-top: 2em;
	min-width: 1125px;
	width: 90%;
	height: 59px;
	z-index: 2;
}

.third {
	height: 9em;
}

.logo {
	background-color: #E9E8E3;
	width: 300px;
	height: 59px;
}

nav {
	padding: 0;
	margin: 0;
	float: left;
}

nav ul li {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light",
	"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-right: 0.7em;
	display: inline;
	font-size: 1.4em;
	letter-spacing: 0.13em;
}

.content-separator {
	height: 1.5em;
}

.first-separator {
	height: 3em;
	border-top: 1px solid #C9C9C9;
	margin: 0 29.833333334% 0 22.666666666%;
	width: 53%;
}

.separator {
	height: 3em;
	border-top: 1px solid #C9C9C9;
}

.twitter-logo {
	width: auto;
}

.facebook-logo {
	width: auto;
}

.shoppingcart-logo {
	width: auto;
}

.menubutton {
	display: none;
}

/*----- sidebar styles -----*/
.sidebar {
	padding: 0;
	margin: 0;
	text-align: right;
	float: right;
	line-height: 1.6em;
}

.sidebar_searchbox {
	background: #FFFFFF;
	padding: 4%;
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-o-border-radius: 10px 0 0 10px;
	border: 0 none;
	width: 74%;
}

.sidebar_searchbutton {
	background: #EC3F51;
	color: #FFFFFF;
	padding: 4% 2%;
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-o-border-radius: 0 10px 10px 0;
	border: 0 none;
	font-weight: bold;
	width: 15%;
}

.sidebar_separator {
	border-bottom: 1px solid #C9C9C9;
	margin: 1em auto;
}

.heading {
	padding: 0;
}

.content {
	padding: 0 0 3em 0;
}

.content_image {
	border: 0.4em solid #FFFFFF;
	margin-right: 1.5em;
	margin-top: 0.4em;
	-moz-box-shadow: 0 0 3px #000000;
	-webkit-box-shadow: 0 0 3px #000000;
	box-shadow: 0 0 3px #000000;
	float: left;
	width: 200px;
	height: 200px;
}

.albumcover {
	border: 0.4em solid #FFFFFF;
	margin-right: 0.1em;
	margin-top: 0.4em;
	-moz-box-shadow: 0 0 3px #000000;
	-webkit-box-shadow: 0 0 3px #000000;
	box-shadow: 0 0 3px #000000;
	max-width: 160px;
	width: 85%;
}

.albumcover_large {
	border: 0.4em solid #FFFFFF;
	margin-right: 0.1em;
	margin-top: 1em;
	-moz-box-shadow: 0 0 3px #000000;
	-webkit-box-shadow: 0 0 3px #000000;
	box-shadow: 0 0 3px #000000;
	width: 100%;
}

.albumcover_small {
	border: 0.2em solid #FFFFFF;
	/* margin: 1em 0.3em 1em 1em; */
	margin: 3% 0% 3% 5%;
	-moz-box-shadow: 0 0 3px #000000;
	-webkit-box-shadow: 0 0 3px #000000;
	box-shadow: 0 0 3px #000000;
	max-width:80px;
	width: 100%;
}

.artist li {
    display: inline;
	float: left;
    background: #FFFFFF;
    padding: 0 0.2em 0 0.2em;
    margin: 5px;
    color: #EC3F51;
    font-size: 2.5em;
}

.artist {
	margin: 0;
	padding: 0;
}

.genre li {
    display: inline;
	float: left;
    background: #FFFFFF;
    padding: 0 0.2em 0 0.2em;
    margin: 5px;
    color: #EC3F51;
    font-size: 2.5em;
}

.genre {
	margin: 0;
	padding: 0;
}

.search {
	padding-top: .4em;
}

.searchbox {
	background: #FFFFFF;
	padding: 10px;
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-o-border-radius: 10px 0 0 10px;
	border: 0 none;
	width: 70%;
}

.searchbutton {
	background: #EC3F51;
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-o-border-radius: 0 10px 10px 0;
	border: 0 none;
	font-weight: bold;
}

.clearer {
	clear: both;
}

.stars {
	height: 17px;
	margin-bottom: 0.4em;
	width: auto;
}

img.community {
	width: 100%;
}

img.merchandise_image {
	width: 50%;
	max-width: 200px;
	float: left;
	border: 0.4em solid #FFFFFF;
	margin-right: 1.5em;
	margin-top: 0.4em;
	-moz-box-shadow: 0 0 3px #000000;
	-webkit-box-shadow: 0 0 3px #000000;
	box-shadow: 0 0 3px #000000;
}

.merchandise_info {
	margin: 0 0 1% 42%;
	font-size: 90%;
	line-height: 1.3em;
}

.merchandise_summary {
	font-size: 90%;
	line-height: 1.6em;
}

.date {
	text-align: right;
}

form.review ol li {
	list-style-type: none;
	border: none;
	border-style: 10px solid black;
	padding: 0;
	margin: 0;
}

fieldset.review {
	border: none;
	padding: 0;
	margin-left: -2.5em;
	margin-top: -0.2em;
}

form.checkout ol li {
	list-style-type: none;
	border: none;
	border-style: 10px solid black;
	padding: 0;
	margin: 0;
}

fieldset.checkout {
	border: none;
	padding: 0;
	margin-left: -2.5em;
	margin-top: -0.2em;
}

label.personal{
	float:left;
	width:95px;
	padding:0 1em;
	text-align:right;
}

label.creditcard{
	float:left;
	width:160px;
	padding:0 1em;
	text-align:right;
}

button.order{
	float:right;
	width:150px;
}

.primary-nav{
	display:none;
}

.product_order{
	border: 0.2em solid #FFFFFF;
	/* margin: 1em 0.3em 1em 1em; */
	margin: 3% 5% 3% 0%;
	-moz-box-shadow: 0 0 3px #000000;
	-webkit-box-shadow: 0 0 3px #000000;
	box-shadow: 0 0 3px #000000;
	max-width:80px;
	width: 100%;
	float:left;
}

.billing_total {
	float:left;
}

.billing_amount {
	float:right;
}	

.total{
	font-weight:bold;
}
